body{
    background-color: bisque;
}
h1{
    font-size: 300%;
    text-align: center;
    margin-top: 10%;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
button{
    display: block;
    font-size: 25px;
}
h3{
    font-size: 50px;
    font-style: italic;
    color: brown;
}
